.headerImg{ width:500px; height:400px; display:flex; align-items:center; justify-content:center; /*为了效果明显，可以将如下边框打开，看一下效果*/ /* border:1px solid black; */ }
.headerImg img{
	width:100%;
	height:auto;
}